<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VueJS</title>
    <style>
      .box {
        background-color: darkorchid;
        height: 200px;
        width: 200px;
      }
      [v-cloak] {
        display: none;
      }
      input {
        margin: 10px;
        display: block;
      }
    </style>
  </head>
  <body>
    <div id="app" v-cloak>
      <input @keyup.enter="greet" v-model="greeting" />
      <hr />
      <button @click="toggleBox">Show Box</button>
      <div v-if="isVisible" class="box"></div>
      <hr />
      <login-form />
      <cycle-box v-if="isVisible" />
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script>
      let app = Vue.createApp({
        data: function () {
          return { greeting: "Hello Vue !", isVisible: true };
        },
        methods: {
          toggleBox() {
            this.isVisible = !this.isVisible;
          },
          greet() {
            console.log("greeted");
          },
        },
      });

      app.component("login-form", {
        template: `
          <form @submit.prevent="handleSubmit">
            <h3>{{title}}</h3>
            <custom-input 
              v-for="(input, i) in inputs" 
              :key="i" v-model="input.email" 
              :label="input.label"
              :type="input.type"/>
            <custom-input v-model="password" :label="passwordLabel"/>
            <button>Log in</button>
          </form>
        `,
        components: ["custom-input"],
        data() {
          return {
            title: "Login Form",
            inputs: [
              {
                label: "Email",
                value: "",
                type: "email",
              },
              {
                label: "Password",
                value: "",
                type: "password",
              },
              {
                label: "Name",
                value: "",
                type: "name",
              },
            ],
            email: "eg: email@email.com",
            password: "",
            emailLabel: "Email",
            passwordLabel: "Password",
          };
        },
        methods: {
          handleSubmit() {},
        },
      });
      app.component("custom-input", {
        template: `
          <label>
            {{label}}
            <input :type="type" v-model="inputValue">
          </label>
        `,
        props: ["label", "type", "modelValue"],
        computed: {
          inputValue: {
            get() {
              return this.modelValue;
            },
            set(value) {
              this.$emit("update:modelValue", value);
            },
          },
        },
      });
      app.component("cycle-box", {
        template: `
          <div class="box"></div>
        `,
        created() {
          console.log("created");
        },
        mounted() {
          console.log("mounted");
        },
        unmounted() {
          console.log("unmounted");
        },
      });

      app.mount("#app");
    </script>
  </body>
</html>
